<nav id="navbar" class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="/">Hack the blog</a>
    <a class="btn btn-primary nav-link active p-2" id="adminLink" aria-current="page" href="/admin">Admin</a>
  </div>
</nav>